<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xebia.hpbook">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home -->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <!-- Offers -->
        <activity
            android:name=".ui.activity.BasketActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.HomeActivity" />
        </activity>

        <!-- Account -->
        <activity
            android:name=".ui.activity.CreateAccountActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.BasketActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.BasketActivity" />
        </activity>

    </application>


</manifest>